<h2 id="main-title">
          师者，传道受业解惑也。</br>欢迎您为<strong>Remy</strong>中的学子贡献知识！
</h2>
        <form id="course-form" class="course-upload-form">
          <div class="form-group form-element">
            <label for="course_name" class="col-sm-1">课程标题</label>
            <div class="col-lg-3">
              <input type="text" class="form-control" name="course_name" placeholder="请输入课程标题" autocomplete="off"/>
            </div>
          </div>
          <div class="form-group form-element">
            <label for="course_name" class="col-sm-1">课程主题</label>
            <div class="col-lg-2">
							<select class="form-control" id="course_topic">
								<option selected>文史</option>
								<option>计算机</option>
								<option>经济</option>
								<option>机械</option>
								<option>建筑</option>
								<option>医学</option>
							</select>
            </div>
          </div>
          <div id="chapter-group" class="form-group chapter-group">
            <div class="form-element">
              <label for="course_name" class="col-sm-1">章节</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" name="chapter_name" placeholder="请输入章节名" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div id="chapter-event" class="form-element">
            <button class="btn btn-primary" type="button" onclick="javascript:addChapter()">
              点我添加章节哦！
            </button>
            <button class="btn btn-danger" type="button" onclick="javascript:delChapter()">
              点我删除章节哦！
            </button> 
          </div>
					<div class="form-group form-element">
            <label for="course_text" class="col-sm-1">课程简介</label>
							<textarea class="form-control text-area" id="course_text" autocomplete="off" rows="12"> </textarea> 
					</div>
          <div class="file-area">
            <span class="help-block">
              请各位老师先在本页面中添加课程信息，在之后的每一个页面分别添加每个章节的素材。
            </span>
          </div>
          <div class="form-element">
            <input type="botton" class="btn btn-warning" onclick="javascript:return courseUpload()" value="确认无误？提交吧！"/>
          </div>
        </form>
