<div class="search-header">
          <div class="search-box">
            <div class="input-group col-lg-6">
              <input id="search-box" type="text" class="form-control"/>
              <span class="input-group-btn">
                <input class="btn btn-primary" type="button" value="GO" onclick='requestCourseByKey()'/> 
              </span>
            </div>
          </div> 
          <div class="search-dropdown-list">
             <div class="dropdown">
             <button class="btn btn-default dropdown-toggle col-lg-4" type="button" id="menu1" data-toggle="dropdown">按主题检索
             <span class="caret"></span></button>
             <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=文史')">文史</a></li>
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=计算机')">计算机</a></li>
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=经济')">经济</a></li>
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=建筑')">建筑</a></li>
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=医学')">医学</a></li>
                <li role="presentation"><a role="menuitem" onclick="javascript:getStaticContent('/course?op_type=1&topic=机械')">机械</a></li>
             </ul>
             </div>
           </div> 
        </div>
        <div id="search-course-list" class="search-course-list table-responsive">
          <table class="table">
            <caption>课程检索列表</caption>
            <thead>
              <tr>
                <th style="text-align: center;">课程</th>
                <th style="text-align: center;">课程主题</th>
                <th style="text-align: center;">教师名称</th>
              </tr>
            </thead>
            <tbody>
              {% for row in COURSE_LIST %}
              <tr>
                <td style="display: flex;justify-content: center;align-items: center; ">
									<a href="#" onclick="javascript:getStaticContent('/course?course_name={{row[0]}}')">{{row[0]}}
									</a>
									<div style="margin:30px auto;display:block;">
                  	<img src="static/course_pic/{{row[0]}}.jpg" width="200px" height="120px" style="display:block;text-align:center;">
                	</div>
								</td>
                <td style="vertical-align:middle;">{{row[1]}}</td>
                <td style="vertical-align:middle;">{{row[2]}}</td>
              </tr>
              {% end %}
            </tbody>
        </div>
